In [1]:
import pandas as pd

In [7]:
roll = pd.Series([1,2,3,4,5,6,7,8,9,10])
name = pd.Series(['sania','akku','sanskruti','kavya','chaitanya','neo','yash','janvi','anish','fareeha'])
marks = pd.Series([76,32,45,55,67,92,35,48,63,94])
classs = pd.Series(['BE','TE','BE','TE','TE','BE','TE','TE','BE','BE'])
age = pd.Series([18,17,16,19,20,18,17,16,19,17])

In [8]:
df=pd.DataFrame({
    'roll':roll,
    'name':name,
    'marks':marks,
    'classs':classs
})

In [9]:
df

   roll       name  marks classs
0     1      sania     76     BE
1     2       akku     32     TE
2     3  sanskruti     45     BE
3     4      kavya     55     TE
4     5  chaitanya     67     TE
5     6        neo     92     BE
6     7       yash     35     TE
7     8      janvi     48     TE
8     9      anish     63     BE
9    10    fareeha     94     BE

In [10]:
df.columns

Index(['roll', 'name', 'marks', 'classs'], dtype='object')

In [11]:
df['marks']

0    76
1    32
2    45
3    55
4    67
5    92
6    35
7    48
8    63
9    94
Name: marks, dtype: int64

In [ ]:
df.