In [5]:
f = open('maha.txt' , 'r')

In [6]:
print (f.name)

maha.txt

In [9]:
print(f.read())

Life comprises individuals, living beings, assignable to groups (taxa). Each individual is composed of one or more minimal living units, called cells, and is capable of transformation of carbon-based and other compounds (metabolism), growth, and participation in reproductive acts.

In [10]:
print(f.mode)

r

In [11]:
f.close()

In [12]:
f.closed

True

In [13]:
# open with context manager

with open('maha.txt' , 'r') as f:
    pass

In [14]:
f.closed

True

In [16]:
with open('maha.txt' , 'r') as f:
    content = f.read()
    print (content)

Life comprises individuals, living beings, assignable to groups (taxa). Each individual is composed of one or more minimal living units, called cells, and is capable of transformation of carbon-based and other compounds (metabolism), growth, and participation in reproductive acts.

In [17]:
with open('maha.txt' , 'r') as f:
    content = f.readlines()
    print (content)

['Life comprises individuals, living beings, assignable to groups (taxa). Each individual is composed of one or more minimal living units, called cells, and is capable of transformation of carbon-based and other compounds (metabolism), growth, and participation in reproductive acts.']

In [18]:
with open('test1.txt' , 'r') as f:
    content = f.readlines()
    print (content)

['This is first line.\n', 'This is second line.\n', 'This is third line.\n', 'This is fourth line.']

In [19]:
with open('test1.txt' , 'r') as f:
    content = f.readline()
    print (content)

This is first line.

In [25]:
with open('test1.txt' , 'r') as f:
    content = f.readline()
    print (content, end ='')
    
    content = f.readline()
    print (content)

This is first line.
This is second line.

In [26]:
with open('test1.txt' , 'r') as f:
    for line in f:
        print(line , end = '')

This is first line.
This is second line.
This is third line.
This is fourth line.

In [27]:
# read the 3 character

with open('test1.txt' , 'r') as f:
    content = f.read(3)
    print (content)

Thi

In [33]:
# Use while loop to read entire file...5 characters at a time

with open('test1.txt' , 'r') as f:
    size = 5

    content = f.read(size)
    while len(content) > 0:
       print(content , end = '')
       content = f.read(size)

This is first line.
This is second line.
This is third line.
This is fourth line.

In [34]:
with open('test1.txt' , 'r') as f:
    size = 5

    content = f.read(size)
    while len(content) > 0:
       print(content , end = '*')
       content = f.read(size)

This *is fi*rst l*ine.
*This *is se*cond *line.*
This* is t*hird *line.*
This* is f*ourth* line*.*

In [35]:
# in the second phase start from start again

with open('test1.txt' , 'r') as f:
    size = 5
    content = f.read(size)
    print(content)

    f.seek(0)     #will start from the begginig

    content = f.read(size)
    print(content)

This
This

### Write

In [36]:
with open('wite.txt' , 'w') as w:
    pass

In [37]:
with open('write.txt' , 'w') as w:
    w.write('My name is Sanika')

In [38]:
with open('write.txt' , 'w') as w:
    w.write('My name is Sanika')
    w.write('My name is Shrutika')

In [39]:
with open('write.txt' , 'w') as w:
        w.write('My name is Sanika')
        w.seek(0)
        w.write('AAAAA')

In [7]:
# create a new file which will be the copy of maha.txt

with open('maha.txt' , 'r') as rf:
    with open('maha_copy.txt' , 'w') as w:
        for line in rf:
            w.write(line)

In [8]:
# image

with open('C:\Users\Dell\OneDrive\Pictures\13.jpg','rb') as f:
   with open('wall_copy', 'wb') as w:
    for line in f:
        w.write(line)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (848074542.py, line 3)