In [2]:
count = 1
while count <= 5:
    print('SANIKA')
    count=count+1

SANIKA
SANIKA
SANIKA
SANIKA
SANIKA

In [3]:
#Print number from 5 to 15

In [14]:
count = 5

while count <= 15:
    print(count, end= ' ')
    count += 1

print('Goodbyee!!')

5 6 7 8 9 10 11 12 13 14 15 Goodbyee!!

In [15]:
print(count)

16

In [20]:
#Print the addition of numbers from 1 to 10

count = 1
add = 0

while count <= 10:
    add = add + count 
    count += 1

print("Addition is" , add)

Addition is 55

In [21]:
print(count)

11

In [23]:
#print addition of all odd numbers from 1 to 20

count = 1
add = 0

while count <= 20:
    add = add + count 
    count += 2
    print("Addition is" , add)

###we can also use if condition

Addition is 1
Addition is 4
Addition is 9
Addition is 16
Addition is 25
Addition is 36
Addition is 49
Addition is 64
Addition is 81
Addition is 100

In [25]:
# Factorial => 5! => 5 * 4 * 3 * 2 * 1 = 120

num = 1

fact = 1

while num <= 5:
    fact = fact * num
    num += 1

print('Factorial is' , fact)

Factorial is 120

In [27]:
num = 5
fact = 1

while num > 1:
    fact = fact * num
    num -= 1
    print('Factorial is' , fact)

Factorial is 5
Factorial is 20
Factorial is 60
Factorial is 120

In [29]:
num = int(input('enter the number'))
fact = 1

while num > 1:
    fact = fact * num
    num -= 1
    print('Factorial is' , fact)

enter the number 5

Factorial is 5
Factorial is 20
Factorial is 60
Factorial is 120

In [35]:
#Find the sum of digits in a number
#12345 => 1 + 2 + 3 + 4 + 5 = 15

num = int(input('Enter the number'))

add = 0

while num > 0:
    rem = num % 10
    add = add + rem
    num = num // 10
    print('Addition of digits is' , add)

Enter the number 100

Addition of digits is 0
Addition of digits is 0
Addition of digits is 1

In [31]:
num = 12345

num % 10
a = num // 10
a % 10

4

## For Loop

In [36]:
for n in 12 , 34 , 45 , 21:
    print(n)

12
34
45
21

In [38]:
for n in 12 , 34, 45, 21, 'SANIKA' , True:
    print(n)

12
34
45
21
SANIKA
True

In [39]:
for n in 12 , 34 , 45 , 21:
    print(n/2)

6.0
17.0
22.5
10.5

# range function

In [40]:
list(range(5))

[0, 1, 2, 3, 4]

In [41]:
list(range(5 , 20))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [42]:
list(range(5 , 20 , 2))

[5, 7, 9, 11, 13, 15, 17, 19]

In [43]:
# range(start , end + 1, step)

In [45]:
for n in range(1,11):
    print(n, end = ' ')

1 2 3 4 5 6 7 8 9 10

In [46]:
#Addition of odd numbers from 1 to 20

add = 0

for n in range(1,21,2):
    add = add + n

print('Addition' , add)

Addition 100

In [49]:
for n in range(10):
    print('SANIKA' , end = ' ')

SANIKA SANIKA SANIKA SANIKA SANIKA SANIKA SANIKA SANIKA SANIKA SANIKA

In [50]:
for n in 'SANIKA':
    print(n)

S
A
N
I
K
A

In [51]:
for n in 'SANIKA' , 'SHRUTIKA':
    print(n)

SANIKA
SHRUTIKA

In [52]:
l = [23 , 45 , 32 , 21 , 67]

for n in l:
    print(n)
else:
    print('Loop ended')

23
45
32
21
67
Loop ended

In [54]:
#Find factorial of a number...take user input

num = int(input('Enter the number'))
fact = 1

for n in range(1 , num + 1):
    fact = fact * n

print('Factorial is' , fact)

Enter the number 5

Factorial is 120

# Break statement

In [64]:
for n in range(1,10):
    if n == 5:
        break
    print(n)

1
2
3
4

In [66]:
count = 0
while count < 10:
    print(count)
    if count == 5:
        break
    count += 1

0
1
2
3
4
5

In [65]:
for n in range(1 ,10):
    if n == 5:
        continue
    print(n)

1
2
3
4
6
7
8
9

In [68]:
#Print odd numbers from 1 to 12 using continue statement

for i in range(1,13):
    if i % 2 ==0 :
        continue
    print(i)

1
3
5
7
9
11

# ##pass

In [74]:
num = 5

if num > 1:
     pass

In [ ]:
'''
*
**
***
'''

In [80]:
row = int(input('Enter the number of rows'))

for i in range(1 , row + 1):
    for j in range(i):
        print('*' , end = ' ')
    print()

Enter the number of rows 3

*
* *
* * *